* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.NavBar {
    background-color: rgba(54, 53, 53, 0.411);
    display: flex;
    width: 100%;
}

.NavBar li {
    list-style: none;
    padding: 14px 20px;
    color: white;
    background-color: transparent;
    text-align: center;
    flex: 1;
}

.NavBar li:hover {
    color: #575757;
}

/* Main Section */
.main {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main > div {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.main label {
    display: block;
    padding: 10px 0;
    flex: 1;
}

.main input,
.main textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
}

.main textarea {
    height: 80px;
}

.action-button {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #45a049;
}

/* Footer */
.Footer {
    background-color: rgba(54, 53, 53, 0.411);
    display: flex;
    width: 100%;
    height: 100px; /* Increase the height for the footer */
    align-items: center;
    justify-content: center;
}

.Footer li {
    list-style: none;
    padding: 14px 20px;
    color: white;
    background-color: transparent;
    text-align: center;
    flex: 1;
}

.Footer li:hover {
    color: #575757;
}

/* Media query */
@media screen and (min-width: 1201px) {
    .main {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) and (min-width: 821px) {
    .NavBar {
        flex-direction: row;
        align-items: center;
    }

    .NavBar li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .main {
        padding: 20px;
    }

    .main label {
        margin-right: 0;
    }
}

@media screen and (max-width: 820px) and (min-width: 601px) {
    .NavBar {
        flex-direction: row;
        align-items: center;
    }

    .NavBar li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .main {
        padding: 20px;
    }

    .main label {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .main {
        padding: 10px;
    }

    .main label {
        margin-right: 0;
    }

    .main > div {
        flex-direction: column;
    }
}
